Repository Frontify/brand-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @Frontify/guidelines-navigation-themes, @Frontify/guidelines-one, @SamuelAlev

chore: remove husky
  .husky/.gitignore
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Owners: @Frontify/guidelines-navigation-themes

Add useTemplateAsset hook
  packages/app-bridge/src/react/index.ts
  packages/app-bridge/src/react/useTemplateAssets.ts
  packages/app-bridge/src/types/Emitter.ts
Owners: @Frontify/guidelines-navigation-themes

feat: add missing methods for page template assets (#463)
  packages/app-bridge/src/AppBridgeTheme.ts
  packages/app-bridge/src/tests/AppBridgeThemeStub.ts
Owners: @Frontify/guidelines-navigation-themes

feat: add missing methods for page template assets (#463)
  packages/app-bridge/src/AppBridgeTheme.ts
  packages/app-bridge/src/tests/AppBridgeThemeStub.ts
Owners: @Frontify/guidelines-navigation-themes

Add useTemplateAssets tests
  packages/app-bridge/src/react/useTemplateAssets.spec.ts
  packages/app-bridge/src/tests/AppBridgeThemeStub.ts
Owners: @Frontify/guidelines-navigation-themes

chore: remove husky
  .husky/.gitignore
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Owners: @Frontify/guidelines-navigation-themes

chore: remove husky
  .husky/.gitignore
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Owners: @Frontify/guidelines-navigation-themes

Remove redundant await
  packages/app-bridge/src/react/useTemplateAssets.spec.ts
Owners: @Frontify/guidelines-navigation-themes

Change type
  packages/app-bridge/src/react/useTemplateAssets.ts
Owners: @Frontify/guidelines-navigation-themes

feat: add useTemplateAssets hook (#465)
  packages/app-bridge/src/AppBridgeBase.ts
  packages/app-bridge/src/AppBridgeBlock.ts
  packages/app-bridge/src/react/index.ts
  packages/app-bridge/src/react/useTemplateAssets.spec.ts
  packages/app-bridge/src/react/useTemplateAssets.ts
  packages/app-bridge/src/tests/AppBridgeThemeStub.ts
  packages/app-bridge/src/types/Emitter.ts
Owners: @Frontify/guidelines-one, @SamuelAlev, @Frontify/guidelines-navigation-themes

feat: add useTemplateAssets hook (#465)
  packages/app-bridge/src/AppBridgeBase.ts
  packages/app-bridge/src/AppBridgeBlock.ts
  packages/app-bridge/src/react/index.ts
  packages/app-bridge/src/react/useTemplateAssets.spec.ts
  packages/app-bridge/src/react/useTemplateAssets.ts
  packages/app-bridge/src/tests/AppBridgeThemeStub.ts
  packages/app-bridge/src/types/Emitter.ts
Owners: @Frontify/guidelines-one, @SamuelAlev, @Frontify/guidelines-navigation-themes

chore: release 3.0.0-beta.79
  packages/app-bridge/package.json
Owners: none

chore: release 3.0.0-beta.79
  packages/app-bridge/package.json
Owners: none

feat: add missing methods for page template assets (#463)
  packages/app-bridge/src/AppBridgeTheme.ts
  packages/app-bridge/src/tests/AppBridgeThemeStub.ts
Owners: @Frontify/guidelines-navigation-themes

feat: Move openAssetViewer to Commands Interface
  packages/app-bridge/src/AppBridgeBlock.ts
  packages/app-bridge/src/react/useAssetViewer.spec.tsx
  packages/app-bridge/src/react/useAssetViewer.ts
  packages/app-bridge/src/tests/AppBridgeBlockStub.ts
  packages/app-bridge/src/types/Command.ts
Owners: @Frontify/guidelines-one, @SamuelAlev, @Frontify/guidelines-navigation-themes

fix(sidebar-settings): Remove downloadAsset from recently added helpers
  .changeset/silent-spiders-explain.md
  packages/guideline-blocks-settings/src/helpers/downloadAsset.ts
  packages/guideline-blocks-settings/src/helpers/index.ts
Owners: @Frontify/guidelines-navigation-themes, @Frontify/guidelines-one, @SamuelAlev

fix(sidebar-settings): Remove downloadAsset from recently added helpers (#466)
  .changeset/silent-spiders-explain.md
  packages/guideline-blocks-settings/src/helpers/downloadAsset.ts
  packages/guideline-blocks-settings/src/helpers/index.ts
Owners: @Frontify/guidelines-navigation-themes, @Frontify/guidelines-one, @SamuelAlev

fix(sidebar-settings): Remove downloadAsset from recently added helpers (#466)
  .changeset/silent-spiders-explain.md
  packages/guideline-blocks-settings/src/helpers/downloadAsset.ts
  packages/guideline-blocks-settings/src/helpers/index.ts
Owners: @Frontify/guidelines-navigation-themes, @Frontify/guidelines-one, @SamuelAlev

fix: Correct param structure for Asset Viewer Command Response
  packages/app-bridge/src/types/Command.ts
Owners: @Frontify/guidelines-navigation-themes

feat: Move openAssetViewer to Commands Interface
  packages/app-bridge/src/AppBridgeBlock.ts
  packages/app-bridge/src/react/useAssetViewer.spec.tsx
  packages/app-bridge/src/react/useAssetViewer.ts
  packages/app-bridge/src/tests/AppBridgeBlockStub.ts
  packages/app-bridge/src/types/Command.ts
Owners: @Frontify/guidelines-one, @SamuelAlev, @Frontify/guidelines-navigation-themes

fix: Correct param structure for Asset Viewer Command Response
  packages/app-bridge/src/types/Command.ts
Owners: @Frontify/guidelines-navigation-themes

refactor: Use subscribe and dispatch pattern
  packages/app-bridge/src/AppBridgeBlock.ts
  packages/app-bridge/src/commands/AssetChooser.ts
  packages/app-bridge/src/commands/index.ts
  packages/app-bridge/src/react/useAssetChooser.spec.tsx
  packages/app-bridge/src/react/useAssetChooser.ts
  packages/app-bridge/src/tests/AppBridgeBlockStub.ts
  packages/app-bridge/src/types/Command.ts
  packages/app-bridge/src/types/DispatchHandler.ts
  packages/app-bridge/src/types/SubscriptionHandler.ts
  packages/app-bridge/src/types/index.ts
Owners: @Frontify/guidelines-one, @SamuelAlev, @Frontify/guidelines-navigation-themes

refactor: Updating deprecation message
  packages/app-bridge/src/AppBridgeBlock.ts
Owners: @Frontify/guidelines-one, @SamuelAlev

remove interface from codeCoverage
  packages/app-bridge/sonar-project.properties
Owners: @Frontify/guidelines-navigation-themes

feat: Exporting command actions globally
  packages/app-bridge/src/index.ts
Owners: @Frontify/guidelines-navigation-themes

Moving dispatch/subscribe to AppBridgeBase
  packages/app-bridge/src/AppBridgeBase.ts
  packages/app-bridge/src/AppBridgeBlock.ts
  packages/app-bridge/src/tests/AppBridgeThemeStub.ts
Owners: @Frontify/guidelines-one, @SamuelAlev, @Frontify/guidelines-navigation-themes

feat: Removing coverage exclusion for AppBridgeBlock
  packages/app-bridge/sonar-project.properties
Owners: @Frontify/guidelines-navigation-themes

Removing asset chooser methods from AppBridgeBlock
  packages/app-bridge/src/AppBridgeBase.ts
  packages/app-bridge/src/AppBridgeBlock.ts
Owners: @Frontify/guidelines-one, @SamuelAlev

refactor: Reverting unnecessary changes
  packages/app-bridge/src/AppBridgeBlock.ts
Owners: @Frontify/guidelines-one, @SamuelAlev

Setting options to optional in openAssetChooser
  packages/app-bridge/src/commands/AssetChooser.ts
Owners: @Frontify/guidelines-navigation-themes

feat: add info message in case browser window coulnd't be opened automatically
  packages/cli/src/commands/login.ts
Owners: @Frontify/guidelines-navigation-themes

feat: Dispatch/subscribe call for open AssetViewer
  packages/app-bridge/src/AppBridgeBase.ts
  packages/app-bridge/src/AppBridgeBlock.ts
  packages/app-bridge/src/commands/AssetChooser.ts
  packages/app-bridge/src/react/useAssetViewer.spec.tsx
  packages/app-bridge/src/react/useAssetViewer.ts
  packages/app-bridge/src/types/DispatchHandler.ts
  packages/app-bridge/src/types/SubscriptionHandler.ts
Owners: @Frontify/guidelines-one, @SamuelAlev, @Frontify/guidelines-navigation-themes

Add documentId and documentPageId to dependencies
  packages/app-bridge/src/react/useTemplateAssets.ts
Owners: @Frontify/guidelines-navigation-themes

Add documentId and documentPageId to dependencies (#468)
  packages/app-bridge/src/react/useTemplateAssets.ts
Owners: @Frontify/guidelines-navigation-themes

Add documentId and documentPageId to dependencies (#468)
  packages/app-bridge/src/react/useTemplateAssets.ts
Owners: @Frontify/guidelines-navigation-themes

chore: release 3.0.0-beta.80
  packages/app-bridge/package.json
Owners: none

chore: release 3.0.0-beta.80
  packages/app-bridge/package.json
Owners: none

feat: add Tracking.Send command
  packages/app-bridge/src/types/DispatchHandler.ts
Owners: @Frontify/guidelines-navigation-themes

update interface
  packages/app-bridge/src/types/DispatchHandler.ts
Owners: @Frontify/guidelines-navigation-themes

update
  packages/app-bridge/src/types/DispatchHandler.ts
Owners: @Frontify/guidelines-navigation-themes

CODEOWNERS:

* @Frontify/guidelines-navigation-themes
**/package.json
packages/cli/templates/**/package-lock.json
pnpm-lock.yaml

# Specific paths

# App Bridge
packages/app-bridge/src/react/useAssetChooser.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useAssetChooser.spec.tsx @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useAssetUpload.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useAssetViewer.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useAssetViewer.spec.tsx @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockAssets.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockAssets.spec.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockSettings.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockSettings.spec.tsx @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockTemplates.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockTemplates.spec.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBulkDownload.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBulkDownload.spec.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useEditorState.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/usePrivacySettings.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/usePrivacySettings.spec.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useReadyForPrint.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useReadyForPrint.spec.tsx @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/tests/withAppBridgeBlockStubs.tsx @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/tests/AppBridgeBlockStub.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/AppBridgeBlock.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/AppBridgeBase.ts @Frontify/guidelines-one @SamuelAlev

# Guideline Blocks Settings
packages/guideline-blocks-settings @Frontify/guidelines-one @SamuelAlev
