Repository Frontify/brand-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @Frontify/guidelines-navigation-themes, @Frontify/guidelines-one, @SamuelAlev

CODEOWNERS:

* @Frontify/guidelines-navigation-themes
**/package.json
packages/cli/templates/**/package-lock.json
pnpm-lock.yaml

# Specific paths

# App Bridge
packages/app-bridge/src/react/useAssetChooser.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useAssetChooser.spec.tsx @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useAssetUpload.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useAssetViewer.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useAssetViewer.spec.tsx @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockAssets.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockAssets.spec.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockSettings.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockSettings.spec.tsx @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockTemplates.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBlockTemplates.spec.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBulkDownload.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useBulkDownload.spec.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useEditorState.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/usePrivacySettings.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/usePrivacySettings.spec.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useReadyForPrint.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/react/useReadyForPrint.spec.tsx @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/tests/withAppBridgeBlockStubs.tsx @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/tests/AppBridgeBlockStub.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/AppBridgeBlock.ts @Frontify/guidelines-one @SamuelAlev
packages/app-bridge/src/AppBridgeBase.ts @Frontify/guidelines-one @SamuelAlev

# Guideline Blocks Settings
packages/guideline-blocks-settings @Frontify/guidelines-one @SamuelAlev

update
  packages/app-bridge/src/repositories/AssetRepository.ts
  packages/app-bridge/src/tests/AssetApiDummy.ts
  packages/app-bridge/src/tests/AssetDummy.ts
  packages/app-bridge/src/types/Asset.ts
  packages/app-bridge/src/types/DispatchHandler.ts
Owners: @Frontify/guidelines-navigation-themes

update download type
  packages/app-bridge/src/types/DispatchHandler.ts
Owners: @Frontify/guidelines-navigation-themes

rename
  packages/app-bridge/src/types/DispatchHandler.ts
Owners: @Frontify/guidelines-navigation-themes

refactor: Updating event action naming format
  packages/app-bridge/src/commands/AssetChooser.ts
  packages/app-bridge/src/react/useAssetChooser.ts
  packages/app-bridge/src/types/DispatchHandler.ts
  packages/app-bridge/src/types/SubscriptionHandler.ts
Owners: @Frontify/guidelines-navigation-themes, @Frontify/guidelines-one, @SamuelAlev

update naming
  packages/app-bridge/src/tests/AssetChooserResultDummy.ts
  packages/app-bridge/src/types/DispatchHandler.ts
Owners: @Frontify/guidelines-navigation-themes

Updating event name in tests
  packages/app-bridge/src/react/useAssetChooser.spec.tsx
Owners: @Frontify/guidelines-one, @SamuelAlev

Updating dispatch/subscribe and tests with new naming convention
  packages/app-bridge/src/commands/AssetChooser.ts
  packages/app-bridge/src/commands/index.ts
  packages/app-bridge/src/react/useAssetViewer.spec.tsx
  packages/app-bridge/src/react/useTemplateChooser.spec.tsx
  packages/app-bridge/src/react/useTemplateChooser.ts
  packages/app-bridge/src/types/DispatchHandler.ts
  packages/app-bridge/src/types/SubscriptionHandler.ts
Owners: @Frontify/guidelines-navigation-themes, @Frontify/guidelines-one, @SamuelAlev

Adding missing files, deprecation notice
  packages/app-bridge/src/AppBridgeBase.ts
  packages/app-bridge/src/AppBridgeBlock.ts
  packages/app-bridge/src/commands/AssetViewer.ts
  packages/app-bridge/src/commands/TemplateChooser.ts
Owners: @Frontify/guidelines-one, @SamuelAlev, @Frontify/guidelines-navigation-themes

update
  packages/app-bridge/src/types/DispatchHandler.ts
Owners: @Frontify/guidelines-navigation-themes

fix: code change
  packages/cli/src/commands/login.ts
Owners: @Frontify/guidelines-navigation-themes

chore: add changeset
  .changeset/thirty-toes-notice.md
Owners: @Frontify/guidelines-navigation-themes

fix: Correct parameters for openAssetViewer handler
  packages/app-bridge/src/commands/AssetViewer.ts
Owners: @Frontify/guidelines-navigation-themes

feat: dispatch/subscribe for Navigation manager
  packages/app-bridge/src/AppBridgeTheme.ts
  packages/app-bridge/src/commands/NavigationManager.ts
  packages/app-bridge/src/commands/index.ts
  packages/app-bridge/src/react/useNavigationManager.ts
  packages/app-bridge/src/types/DispatchHandler.ts
Owners: @Frontify/guidelines-navigation-themes

feat: add info message in case browser window couldn't be opened automatically (#467)
  .changeset/thirty-toes-notice.md
  packages/cli/src/commands/login.ts
Owners: @Frontify/guidelines-navigation-themes

feat: add info message in case browser window couldn't be opened automatically (#467)
  .changeset/thirty-toes-notice.md
  packages/cli/src/commands/login.ts
Owners: @Frontify/guidelines-navigation-themes

fix: make key make dynamic
  packages/app-bridge/src/types/SubscriptionHandler.ts
Owners: @Frontify/guidelines-navigation-themes

fix: add `type`, fix names
  packages/app-bridge/src/commands/AssetChooser.ts
  packages/app-bridge/src/react/useAssetChooser.spec.tsx
  packages/app-bridge/src/react/useAssetChooser.ts
  packages/app-bridge/src/types/DispatchHandler.ts
  packages/app-bridge/src/types/SubscriptionHandler.ts
Owners: @Frontify/guidelines-navigation-themes, @Frontify/guidelines-one, @SamuelAlev

fix: name
  packages/app-bridge/src/AppBridgeBase.ts
Owners: @Frontify/guidelines-one, @SamuelAlev

revert: changes in hook
  packages/app-bridge/src/react/useAssetChooser.spec.tsx
  packages/app-bridge/src/react/useAssetChooser.ts
Owners: @Frontify/guidelines-one, @SamuelAlev

feat(Commands): Asset Chooser Interface with hooks wrapper (#460)
  packages/app-bridge/src/AppBridgeBase.ts
  packages/app-bridge/src/commands/AssetChooser.ts
  packages/app-bridge/src/commands/index.ts
  packages/app-bridge/src/index.ts
  packages/app-bridge/src/tests/AppBridgeBlockStub.ts
  packages/app-bridge/src/tests/AppBridgeThemeStub.ts
  packages/app-bridge/src/types/DispatchHandler.ts
  packages/app-bridge/src/types/SubscriptionHandler.ts
  packages/app-bridge/src/types/index.ts
Owners: @Frontify/guidelines-one, @SamuelAlev, @Frontify/guidelines-navigation-themes

feat(Commands): Asset Chooser Interface with hooks wrapper (#460)
  packages/app-bridge/src/AppBridgeBase.ts
  packages/app-bridge/src/commands/AssetChooser.ts
  packages/app-bridge/src/commands/index.ts
  packages/app-bridge/src/index.ts
  packages/app-bridge/src/tests/AppBridgeBlockStub.ts
  packages/app-bridge/src/tests/AppBridgeThemeStub.ts
  packages/app-bridge/src/types/DispatchHandler.ts
  packages/app-bridge/src/types/SubscriptionHandler.ts
  packages/app-bridge/src/types/index.ts
Owners: @Frontify/guidelines-one, @SamuelAlev, @Frontify/guidelines-navigation-themes

chore: release `3.0.0-beta.81`
  packages/app-bridge/package.json
Owners: none

chore: release `3.0.0-beta.81`
  packages/app-bridge/package.json
Owners: none
